%section.m-b_8{role: "region", "aria-label" => "Dialogs"}
  %div.ctn.tx.__center
    %ul.grid
      %li.grid-i.__grid-2
        %a.a.__pseudo{href: "#", data: {dialog: "arcticmodal-dialog-narrow"}} arcticModal Dialog Narrow
      %li.grid-i.__grid-2
        %a.a.__pseudo{href: "#", data: {dialog: "arcticmodal-dialog-form"}} arcticModal Dialog Form
      %li.grid-i.__grid-2
        %a.a.__pseudo{href: "#", data: {dialog: "arcticmodal-dialog-wide"}} arcticModal Dialog Wide

%section{role: "region", "aria-label" => "Sliders"}
  .ctn
    #cycle-2-slider
      %img{alt: "", data: {src: "/js/vendor/holder.js/220x220/#800000:#fff/text:Cycle2 Slide #1"}}
      %img{alt: "", data: {src: "/js/vendor/holder.js/220x220/#008000:#fff/text:Cycle2 Slide #2"}}
      %img{alt: "", data: {src: "/js/vendor/holder.js/220x220/#000080:#fff/text:Cycle2 Slide #3"}}