%section#store.section.__store{role: "region", "aria-label" => "Nike Store"}
  .ctn
    %header.section_header
      %h1.section_title
        &#35;Nike
        %span Store
    %section.section_body
      .cols
        .cols_i.__half
          %article.cnt
            %p
              %img{src: "/assets/images/store_photo_01.jpg", alt: "Nike Store photo", width: "320", height: "130"}
            %p Магазины Nike являются носителями духа бренда, призывающего нас преодолевать любые препятствие легко и&nbsp;уверенно, следуя слогану &laquo;Just do&nbsp;it&raquo;. Если вы&nbsp;стремитесь к&nbsp;победе, любите свободный и&nbsp;удобный стиль одежды или занимаетесь спортом, то&nbsp;фирменные магазины Nike к&nbsp;вашим услугам.
            %p В&nbsp;наших магазинах вы&nbsp;можете приобрести товары для самых популярных видов спорта: футбол, бег, баскетбол,&nbsp;&mdash; а&nbsp;также для повседневного использования. Женские сердца не&nbsp;оставит равнодушными стильная коллекция для женского фитнеса. А&nbsp;ценителей экстремальных видов спорта&nbsp;&mdash; отдельные тематические коллекции.
        .cols_i.__half
          %article.cnt
            %p
              %img{src: "/assets/images/store_photo_02.jpg", alt: "Nike Store photo", width: "320", height: "130"}
            %p Кроме спортивной одежды вы&nbsp;найдете здесь многообразие аксессуаров знаменитого бренда: часы, головные уборы, пр.
            %p В&nbsp;наших магазинах вас ждут новинки сезона, а&nbsp;также большие распродажи. А&nbsp;благодаря нашим продавцам&nbsp;&mdash; &laquo;атлетам&raquo; посещение магазинов Nike станет для вас приятным и&nbsp;полезным экспериментом.
            %p Вы&nbsp;будете возвращаться к&nbsp;нам снова и&nbsp;снова! А&nbsp;мы&nbsp;будем всегда рады видеть вас!

%section#card.section.__card{role: "region", "aria-label" => "Your Card"}
  .ctn
    %header.section_header
      %h1.section_title
        &#35;Твоя
        %span Карта
    %section.section_body
      .cols
        .cols_i.__full
          %artciel.cnt
            %p Приглашаем вас стать участниками программы сети магазинов Nike для наших постоянных покупателей и&nbsp;стать нашим почетным клиентом. Совершая покупки в&nbsp;магазинах Nike (ООО &laquo;реСтор&raquo;), вы&nbsp;получаете часть суммы ваших покупок на&nbsp;подарочную банковскую карту и&nbsp;можете порадовать себя и&nbsp;близких любимыми новинками в&nbsp;будущем.
      %img{src: "/assets/images/card.png", alt: "Твоя карта", width: "800", height: "535", class: "brand-photo"}
    %footer.section_footer
      %a{href: "#", class: "button __transparent", id: "open-rules"} Основные правила программы

%section#rules.section.__rules{role: "region", "aria-label" => "Rules"}
  .ctn
    %header.section_header
      %h2.section_title
        Основные правила
        %br
        бонусной программы
    %section.section_body
      .cols
        .cols_i.__full
          %article.cnt
            %p Стать участником программы может любой покупатель наших магазинов независимо от&nbsp;суммы покупки. Для участия в&nbsp;программе обязательно заполнение анкеты и&nbsp;регистрация в&nbsp;Личном кабинете на&nbsp;сайте.
            %p Каждый потраченный рубль конвертируется в&nbsp;бонус (1&nbsp;рубль = 1&nbsp;бонусному рублю) и&nbsp;идет к&nbsp;накоплению. Исключение составляют покупки по&nbsp;акциям и&nbsp;распродажам.
            %p Бонусы активируются в&nbsp;течение 30&nbsp;дней после совершения покупки.
            %p Бонусные рубли могут быть начислены как за&nbsp;покупки, так и&nbsp;за&nbsp;дополнительные действия&nbsp;&mdash; заполнение расширенной анкеты в&nbsp;личном кабинете, привлечение друга к&nbsp;участию в&nbsp;программе, пр.
            %p При достижении порога 25&nbsp;000 бонусных рублей участник программы получает вознаграждение в&nbsp;виде подарочной карты номиналом 1&nbsp;500&nbsp;руб. Информация о&nbsp;возможности получения данного вознаграждения высылается участнику по&nbsp;указанному им&nbsp;в&nbsp;анкете способу коммуникации (смс или e-mail) и&nbsp;публикуется в&nbsp;Личном кабинете.
            %p Подарочную карту можно получить в&nbsp;любом магазине сети в&nbsp;течение 60&nbsp;дней после получения уведомления. Баланс карты участника программы при этом уменьшается на&nbsp;25&nbsp;000&nbsp;руб. Получение карты спустя 60&nbsp;дней после уведомления не&nbsp;возможно, карта аннулируется.
            %p При использовании подарочной карты в&nbsp;нашем магазине для последующей покупки участник получает на&nbsp;свой счет соразмерный номиналу карты бонус в&nbsp;размере 1&nbsp;500 бонусных рублей.
            %p Карта является неименной. Однако выдача подарочной карты возможна только владельцу карты, чьи данные были заполнены в&nbsp;анкете.
    %footer.section_footer
      .file
        %p
          Более подробные условия программы
          %br
          представлены в оферте.
        %a{href: ""}
          %img{src: "/assets/images/pdf.png", alt: "PDF", width: "54", height: "70", class: "file_ico"}
      %a{href: "#", class: "button __color", id: "close-rules"} Закрыть

%section#stores.section.__stores{role: "region", "aria-label" => "Our Stores"}
  .ctn
    %header.section_header
      %h1.section_title
        &#35;Наши
        %span Магазины
      %img{src: "/assets/images/mark.png", alt: "Наши магазины", width: "112", height: "109"}
    %section.section_body
      .stores
        %figure.stores_i.__moscow
          .cols
            .cols_i.__half
              %h2.stores_i_location Москва
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name ТЦ «Метрополис»
                  %p.stores_i_address Ленинградское ш., 16а, стр. 4, 2 этаж
                  %p.stores_i_phone +7 (495) 545-35-07
                  %p.stores_i_email
                    %a{href: "mailto: nike.metropolis.msk@inventive.ru"} nike.metropolis.msk@inventive.ru
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «Домодедовский»
                  %p.stores_i_address Ореховый б-р, 14/3, 2 этаж
                  %p.stores_i_phone +7 (499) 550-21-07
                  %p.stores_i_email
                    %a{href: "mailto: nike.dmd.msk@inventive.ru"} nike.dmd.msk@inventive.ru
                .stores_i_caption_mark
                  %p.stores_i_name СТЦ «МЕГА Белая Дача»
                  %p.stores_i_address МО, Люберецкий р-н, г. Котельники, 1&ndash;й Покровский пр-д, 5
                  %p.stores_i_phone +7 (495) 545-35-75
                  %p.stores_i_email
                    %a{href: "mailto: nike.megadacha.msk@inventive.ru"} nike.megadacha.msk@inventive.ru
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «Золотой Вавилон» на Проспекте&nbsp;Мира
                  %p.stores_i_address Проспект Мира, 211, 1 торговый уровень, Южный пр-т
                  %p.stores_i_phone +7 (495) 665-11-24
                  %p.stores_i_email
                    %a{href: "mailto: nike.rostokino.msk@inventive.ru"} nike.rostokino.msk@inventive.ru
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «РИО»
                  %p.stores_i_address Ленинский пр-т, владение 109
                  %p.stores_i_phone +7 (495) 542-44-46
                  %p.stores_i_email
                    %a{href: "mailto: nike.riolenin.msk@inventive.ru"} nike.riolenin.msk@inventive.ru
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «Райкин Плаза»
                  %p.stores_i_address Шереметьевская ул., 8, 3 этаж
                  %p.stores_i_phone +7 (495) 542-44-32
                  %p.stores_i_email
                    %a{href: "mailto: nike.raikin.msk.dir@inventive.ru"} nike.raikin.msk.dir@inventive.ru
        %figure.stores_i
          .cols
            .cols_i.__half
              %h2.stores_i_location Санкт-Питербург
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name СТЦ «МЕГА Парнас»
                  %p.stores_i_address Пересечение КАД и пр. Энгельса
                  %p.stores_i_phone +7 (812) 449-12-93
                  %p.stores_i_email
                    %a{href: "mailto: nike.parnas.spb@inventive.ru"} nike.parnas.spb@inventive.ru
                .stores_i_caption_mark
                  %p.stores_i_address Большой проспект П.С., 84
                  %p.stores_i_phone +7 (812) 677-15-97
                  %p.stores_i_email
                    %a{href: "mailto: nike.bigprospekt.spb@inventive.ru"} nike.bigprospekt.spb@inventive.ru
                .stores_i_caption_mark
                  %p.stores_i_name ТРК «Гранд Каньон»
                  %p.stores_i_address Ул. Энгельса, д.154, 1 этаж
                  %p.stores_i_phone +7 (812) 677-37-51
                  %p.stores_i_email
                    %a{href: "mailto: nike.gkanyon.spb@inventive.ru"} nike.gkanyon.spb@inventive.ru
        %figure.stores_i
          .cols
            .cols_i.__half
              %h2.stores_i_location Сочи
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «МореМолл»
                  %p.stores_i_address Ул. Новая Заря, 7, 2 этаж
                  %p.stores_i_phone +7 (8622) 96-80-98
                  %p.stores_i_email
                    %a{href: "mailto: nike.moremoll.sochi@inventive.ru"} nike.moremoll.sochi@inventive.ru
        %figure.stores_i
          .cols
            .cols_i.__half
              %h2.stores_i_location Новосибирск
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «Аура»
                  %p.stores_i_address Ул. Военная, 5, 3 этаж, Центральный атриум
                  %p.stores_i_phone +7 (383) 230-32-75
                  %p.stores_i_email
                    %a{href: "mailto: nike.aura.nsk@inventive.ru"} nike.aura.nsk@inventive.ru
        %figure.stores_i
          .cols
            .cols_i.__half
              %h2.stores_i_location Омск
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name СТЦ «МЕГА Омск»
                  %p.stores_i_address Бульвар Архитекторов, 35, 1 этаж, около катка
                  %p.stores_i_phone +7 (3812) 35-66-51
                  %p.stores_i_email
                    %a{href: "mailto: nike.mega.omsk@inventive.ru"} nike.mega.omsk@inventive.ru
        %figure.stores_i
          .cols
            .cols_i.__half
              %h2.stores_i_location Сургут
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «Аура»
                  %p.stores_i_address Нефтеюганское шоссе, 1, 2 этаж
                  %p.stores_i_phone +7 (3462) 27-02-73
                  %p.stores_i_email
                    %a{href: "mailto: nike.aura.srg@inventive.ru"} nike.aura.srg@inventive.ru
        %figure.stores_i
          .cols
            .cols_i.__half
              %h2.stores_i_location Тюмень
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name ТРЦ «Кристалл»
                  %p.stores_i_address скоро открытие
        %figure.stores_i
          .cols
            .cols_i.__half
              %h2.stores_i_location Краснодар
            .cols_i.__half
              %figcaption.stores_i_caption
                .stores_i_caption_mark
                  %p.stores_i_name СТЦ «МЕГА Адыгея»
                  %p.stores_i_address скоро открытие

%section#contacts.section.__contacts{role: "region", "aria-label" => "Contacts"}
  .ctn
    %section.section_body
      .cols
        .cols_i.__half
          %h2 Напишите нам
        .cols_i.__half
          %article.cnt
            %p Если хотите поблагодарить наших сотрудников или, наоборот, сообщить о&nbsp;недопустимом обращении с&nbsp;вами, напишите нам. Мы&nbsp;гарантируем конфиденциальность ваших персональных данных.
      #feedback.feedback
        %form.form
          .form_row
            .cols
              .cols_i.__half
                %label.form_label Имя
                %input{type: "text", class: "form_input"}
              .cols_i.__half
                %article.cnt
                  %p Пожалуйста, укажите один из&nbsp;способов&nbsp;контакта с&nbsp;вами, иначе мы&nbsp;не&nbsp;сможем связаться с&nbsp;вами и&nbsp;ответить.
          .form_row
            .cols
              .cols_i.__half
                %label.form_label E-mail
                %input{type: "text", class: "form_input"}
              .cols_i.__half
                %label.form_label Мобильный телефон
                %input{type: "text", class: "form_input"}
          .form_row
            .cols
              .cols_i.__half
                %label.form_label Тема
                %input{type: "text", class: "form_input"}
              .cols_i.__half
                %label.form_label Категория
                %input{type: "text", class: "form_input"}
          .form_row
            .cols
              .cols_i.__full
                %label.form_label Сообщение
                %textarea{rows: 10, class: "form_textarea"}
          .form_row
            .cols
              .cols_i.__half
                %article.cnt
                  %p
                    Прикрепите&nbsp;файлы&nbsp;к&nbsp;сообщению&nbsp;формы.
                    %br
                    Максимальный размер файла&nbsp;&mdash; 1&nbsp;мб.
                    %br
                    Максимальное количество&nbsp;&mdash; 5&nbsp;штук.
              .cols_i.__half
                .form_file.form_el.__fake{data: {placeholder: "Добавить файл"}}
                  %p &nbsp;
                  %input.form_file.form_el.__real{type: "file"}
    %footer.section_footer
      %a{href: "#", class: "button __color", id: "open-feedback"} Написать