%section.section.__store{role: "region", "aria-label" => "Nike Store"}
  %h1.section_title
    &#35;Nike
    %span Store

%section.section.__card{role: "region", "aria-label" => "Your Card"}
  %h1.section_title
    &#35;Твоя
    %span Карта

%section.section.__stores{role: "region", "aria-label" => "Our Stores"}
  %h1.section_title
    &#35;Наши
    %span Магазины