%section.section.__banner{role: "region", "aria-label" => "Banner"}
  .ctn
    .banner
      %p.banner_title
        Личный
        %br
        кабинет
      %p
        Участника программы постоянных покупателей
        %br
        и почетных клиентов.

%section#profile.section.__profile{role: "region", "aria-label" => "My profile"}
  .ctn
    %header.section_header
      %h1.section_title
        &#35;Мой
        %span профиль
      %p Укажите основные данные для участия в бонусной программе.
    %section.section_body
      %form.form
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Номер карты
              %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Пароль
              %input{type: "text", class: "form_input"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Имя
              %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Фамилия
              %input{type: "text", class: "form_input"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label E-mail
              %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Мобильный телефон
              %input{type: "text", class: "form_input"}
    %footer.section_footer
      %a{href: "#", class: "button __color"} Сохранить

%section#secrets.section.__secrets{role: "region", "aria-label" => "My secrets"}
  .ctn
    %header.section_header
      %h1.section_title
        &#35;Мои
        %span секреты
      %p
        Вы можете ответить на наши дополнительные вопросы
        %br
        и получить за это специальный бонус в размере 500 руб.
        %br
        Бонус выплачивается однократно при заполнении всех дополнительных полей.
    %section.section_body
      %form.form
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Отчество
              %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Дата рождения
              %input{type: "text", class: "form_input"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Любимый магазин
              %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Любимая спортивная марка
              %input{type: "text", class: "form_input"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Как часто вы занимаетесь спортом
              %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Вид спорта, которым вы занимаетесь
              %input{type: "text", class: "form_input"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Как часто вы покупаете спортивную&nbsp;одежду и обувь
              %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Для чего вы приобретаете спортивную&nbsp;одежду и обувь
              %input{type: "text", class: "form_input"}
    %footer.section_footer
      %a{href: "#", class: "button __color"} Сохранить

%section#records.section.__records{role: "region", "aria-label" => "My records"}
  .ctn
    %header.section_header
      %h1.section_title
        &#35;Мои
        %span рекорды
      %p История ваших операций по карте почётного клиетна.
    %section.section_body
      -#%table
        %thead
          %tr
            %th Дата покупки
            %th Тип операции
            %th Сумма
            %th Акция
            %th Магазин
            %th Ожидаемое начисление
            %th Начисленные бонусные коды
        %tbody
          %tr
            %td 22.05.13
            %td Покупка
            %td 223 470
            %td #Станькачком
            %td Мегтплстн
            %td 2 000
            %td 0