%footer#footer.footer{role: "contentinfo"}
  .ctn
    .cols.__half
      %a{href: "#"}
        %img{src: "/assets/images/irg.jpg", alt: "Inventive Retail Group", width: "50", height: "50"}
    .cols.__half
      %p © 2013. Inventive Retail Group