%footer#footer.footer{role: "contentinfo"}
  .ctn
    .cols
      .cols_i.__half>
        %a{href: "#"}
          %img{src: "/assets/images/irg.jpg", alt: "Inventive Retail Group", width: "50", height: "50"}
      .cols_i.__half
        %p © 2013. Inventive Retail Group