%header#header.header{role: "banner"}
  .ctn
    .p-t_3.p-b_3
      %h3.m-b_2.tx.__center
        %a{href: "/index"}
          %i.icon-beaker
          &nbsp;Chemistry Template
      %nav{role: "navigation"}
        .ctn
          %ul.grid.__no-gutter.tx.__center
            %li.grid-i.__grid-2
              %a{href: "/grid"} Grid
            %li.grid-i.__grid-2
              %a{href: "/links"} Links
            %li.grid-i.__grid-2
              %a{href: "/forms"} Forms
            %li.grid-i.__grid-2
              %a{href: "/content"} Content
            %li.grid-i.__grid-2
              %a{href: "/styles"} Styles
            %li.grid-i.__grid-2
              %a{href: "/components"} Components