%header#header.header{role: "banner"}
  .ctn
    %nav.navigation{role: "navigation"}
      %a{href: "/profile"}
        %img{src: "/assets/images/menu.png", alt: "Меню", width: "31", height: "24"}
        %span Меню
      %ul#menu.menu
        %li.menu_i
          %a{href: "#profile", class: "menu_i_a"} Мой профиль
        %li.menu_i
          %a{href: "#secrets", class: "menu_i_a"} Мои секреты
        %li.menu_i
          %a{href: "#records", class: "menu_i_a"} Мои рекорды
        %li.menu_i
          %a{href: "#history", class: "menu_i_a"} История наград
    %a.logo{href: "/"} Сеть фирменных магазинов NIKE
    %a.logout{href: "/"} Выход