%section#card.section.__card{role: "region", "aria-label" => "Your Card"}
  .ctn

    %header.section_header
      %h1.section_title
        &#35;Твоя
        %span Карта

    %div.section_body
      .cols
        .cols_i.__full
          %artciel.cnt
            %p Приглашаем вас стать участниками программы сети магазинов Nike для наших постоянных покупателей и&nbsp;стать нашим почетным клиентом. Совершая покупки в&nbsp;магазинах Nike (ООО &laquo;реСтор&raquo;), вы&nbsp;получаете часть суммы ваших покупок на&nbsp;подарочную банковскую карту и&nbsp;можете порадовать себя и&nbsp;близких любимыми новинками в&nbsp;будущем.

    %footer.section_footer
      .form
        %a.form_button{href: "#", id: "open-rules"} Основные правила программы