%section#rules.section.__rules{role: "region", "aria-label" => "Rules"}
  .ctn

    %header.section_header
      %h2.section_title Основные правила<br>бонусной программы

    %section.section_body
      .cols
        .cols_i.__full
          %article.cnt
            %p Стать участником программы может любой покупатель наших магазинов независимо от&nbsp;суммы покупки. Для участия в&nbsp;программе обязательно заполнение анкеты и&nbsp;регистрация в&nbsp;Личном кабинете на&nbsp;сайте.
            %p Каждый потраченный рубль конвертируется в&nbsp;бонус (1&nbsp;рубль = 1&nbsp;бонусному рублю) и&nbsp;идет к&nbsp;накоплению. Исключение составляют покупки по&nbsp;акциям и&nbsp;распродажам.
            %p Бонусы активируются в&nbsp;течение 30&nbsp;дней после совершения покупки.
            %p Бонусные рубли могут быть начислены как за&nbsp;покупки, так и&nbsp;за&nbsp;дополнительные действия&nbsp;&mdash; заполнение расширенной анкеты в&nbsp;личном кабинете, привлечение друга к&nbsp;участию в&nbsp;программе, пр.
            %p При достижении порога 25&nbsp;000 бонусных рублей участник программы получает вознаграждение в&nbsp;виде подарочной карты номиналом 1&nbsp;500&nbsp;руб. Информация о&nbsp;возможности получения данного вознаграждения высылается участнику по&nbsp;указанному им&nbsp;в&nbsp;анкете способу коммуникации (смс или e-mail) и&nbsp;публикуется в&nbsp;Личном кабинете.
            %p Подарочную карту можно получить в&nbsp;любом магазине сети в&nbsp;течение 60&nbsp;дней после получения уведомления. Баланс карты участника программы при этом уменьшается на&nbsp;25&nbsp;000&nbsp;руб. Получение карты спустя 60&nbsp;дней после уведомления не&nbsp;возможно, карта аннулируется.
            %p При использовании подарочной карты в&nbsp;нашем магазине для последующей покупки участник получает на&nbsp;свой счет соразмерный номиналу карты бонус в&nbsp;размере 1&nbsp;500 бонусных рублей.
            %p Карта является неименной. Однако выдача подарочной карты возможна только владельцу карты, чьи данные были заполнены в&nbsp;анкете.
          .file
            %p Более подробные условия программы<br>представлены в оферте.
            %a{href: ""}
              %img{src: "/assets/images/pdf.png", alt: "PDF", width: "54", height: "70", class: "file_ico"}

    %footer.section_footer
      .form
        %a{href: "#", class: "form_button", id: "close-rules"} Закрыть