%section#slider.section.__slider{role: "region", "aria-label" => "Slider"}
  #cycle.slider

    .slider_i.__01
      %p.slider_i_title Сильнее
      %p.slider_i_tx Выверенные характеристики,<br>дающие превосходство.
      %p
        %a{href: "#", class: "slider_i_more", rel: "1"} Подробнее

    .slider_i.__02
      %p.slider_i_title Жилет<br>Nike<br>Aeroloft
      %p.slider_i_tx Теплый. Лёгкий.<br>Дышащий
      %p
        %a{href: "#", class: "slider_i_more", rel: "2"} Подробнее

    .slider_i.__03
      %p.slider_i_title Shield Pack
      %p.slider_i_tx Победи<br>серость и сырость.
      %p
        %a{href: "#", class: "slider_i_more", rel: "3"} Подробнее

    .slider_i.__04
      %p.slider_i_title Kampai<br>Jacket
      %p.slider_i_tx Вдохновляющий дизайн<br>с могучим арсеналом.
      %p
        %a{href: "#", class: "slider_i_more", rel: 4} Подробнее

    .slider_i.__07
      %p.slider_i_title
        Вперёд
        %br
        %span Россия
      %p.slider_i_tx Новая форма сборной<br>Россиипо хоккею.
      %p
        %a{href: "#", class: "slider_i_more", rel: 7} Подробнее

    %ul.slider_pager
      %li.slider_pager_i
      %li.slider_pager_i
      %li.slider_pager_i
      %li.slider_pager_i
      %li.slider_pager_i