%section#slider.section.__slider{role: "region", "aria-label" => "Slider"}
  #cycle.slider

    .slider_i.__01
      %p.slider_i_title Сильнее
      %p.slider_i_tx Выверенные характеристики,<br>дающие превосходство.

    .slider_i.__02
      %p.slider_i_title Жилет<br>Nike<br>Aeroloft
      %p.slider_i_tx Теплый. Лёгкий.<br>Дышащий
      %p
        %a{href: "#", class: "slider_i_more", rel: "2"} Подробнее

    .slider_i.__03
      %p.slider_i_title Shield Pack
      %p.slider_i_tx Победи<br>серость и сырость.
      %p
        %a{href: "#", class: "slider_i_more", rel: "3"} Подробнее

    .slider_i.__04
      %p.slider_i_title Kampai<br>Jacket
      %p.slider_i_tx Вдохновляющий дизайн<br>с могучим арсеналом.
      %p
        %a{href: "#", class: "slider_i_more", rel: 4} Подробнее

    .slider_i.__05
      %p.slider_i_title Ближе<br>к цели
      %p.slider_i_tx Выверенные характеристики,<br>дающие превосходство.

    .slider_i.__06
      %p.slider_i_title Быстрее<br>выше<br>сильнее
      %p.slider_i_tx Выверенные характеристики,<br>дающие превосходство.

    %ul.slider_pager
      %li.slider_pager_i
      %li.slider_pager_i
      %li.slider_pager_i
      %li.slider_pager_i
      %li.slider_pager_i
      %li.slider_pager_i