%section.section.__slider_more.__1{role: "region", "aria-label" => "More info"}
  .ctn
    %article.cnt
      %p Если вы&nbsp;стремитесь к&nbsp;победе, любите свободный и&nbsp;удобный стиль одежды или занимаетесь спортом, то&nbsp;фирменные магазины Nike к&nbsp;вашим услугам.

%section.section.__slider_more.__2{role: "region", "aria-label" => "More info"}
  .ctn
    %article.cnt
      %p Новая Технология Aeroloft призвана помогать телу регулировать температуру естественным путем. Она была использована при создании жилета Nike Aeroloft 800&nbsp;Vest.
      %p Жилет позволяет сохранять тепло и&nbsp;при этом обеспечивать максимальную необходимую вентиляцию, что категорически необходима атлетам во&nbsp;время интенсивных тренировок.

%section.section.__slider_more.__3{role: "region", "aria-label" => "More info"}
  .ctn
    %article.cnt
      %p Специально созданные для холодных, влажных и&nbsp;мрачных зимних месяцев, кроссовки NiKE FREE 5.0 + Shield, NIKE LUNARGLIDE+ 5&nbsp;SHIELD, NIKE AIR PEGASUS+ 30&nbsp;SHIELD обеспечивают тепло и&nbsp;водоотталкивающие свойства в&nbsp;корпусе с&nbsp;высокой светоотражающей способностью, который также гарантирует дополнительные преимущества благодаря созданию ощущения, словно&nbsp;Вы бегаете босиком.
      %p Верх из&nbsp;трехслойного сетчатого материала обеспечивает водоотталкивающие свойства, не&nbsp;создавая препятствий для воздухопроницаемости. Подкладка берец и&nbsp;язычка из&nbsp;микрофлиса помогает сохранить тепло. Графический рисунок с&nbsp;высокой светоотражающей способностью заметен даже в&nbsp;условиях слабого освещения.

%section.section.__slider_more.__4{role: "region", "aria-label" => "More info"}
  .ctn
    %article.cnt
      %p Куртка Nike Kampai&nbsp;&mdash; вдохновляющий дизайн<br>с&nbsp;могучим арсеналом нужных характеристик.<br>Идеальна для катания на&nbsp;сноуборде.
      %p Материал Nike Storm-FIT отражает атаку ветра и&nbsp;снега, капюшон с&nbsp;утяжкой и&nbsp;козырьком, снегозащитная юбка и&nbsp;манжеты с&nbsp;фиксирующими липучками справятся с&nbsp;любыми погодными испытаниями на&nbsp;склоне. Специальный карман для хранения медиа-устройств и&nbsp;внутренняя система фиксации проводов позволит не&nbsp;расставаться с&nbsp;любимой музыкой. Куртка прекрасно подойдет и&nbsp;для осенне-зимнего города, ведь всегда можно добавить немного цвета в&nbsp;серые дождливые дни.

%section.section.__slider_more.__7{role: "region", "aria-label" => "More info"}
  .ctn
    %article.cnt
      %p В&nbsp;процессе разработки новой олимпийской формы по&nbsp;хоккею дизайнеры черпали вдохновение в&nbsp;графике и&nbsp;силуэтах национального герба России&nbsp;&mdash; традиционного двуглавого орла. Хоккейный свитер дополнился мягкими линиями кроя, плавными узорами и&nbsp;современным воротником с&nbsp;технологией Nike Flywire. В&nbsp;результате форма стала более легкой&nbsp;&mdash; ее&nbsp;структура позволяет телу дышать, а&nbsp;свитер точно повторяет движения тела во&nbsp;время игры. Форма представлена в&nbsp;двух цветах: основная красная и&nbsp;дополнительная белая для гостевых игр.
