%section#store.section.__store{role: "region", "aria-label" => "Nike Store"}
  .ctn

    %header.section_header
      %h1.section_title
        &#35;Nike
        %span Store

    %div.section_body
      .cols
        .cols_i.__half>
          %article.cnt
            %p
              %img{src: "/assets/images/store_photo_01.jpg", alt: "Nike Store photo", width: "320", height: "130"}
            %p Магазины Nike являются носителями духа бренда, призывающего нас преодолевать любые препятствие легко и&nbsp;уверенно, следуя слогану &laquo;Just do&nbsp;it&raquo;. Если вы&nbsp;стремитесь к&nbsp;победе, любите свободный и&nbsp;удобный стиль одежды или занимаетесь спортом, то&nbsp;фирменные магазины Nike к&nbsp;вашим услугам.
            %p В&nbsp;наших магазинах вы&nbsp;можете приобрести товары для самых популярных видов спорта: футбол, бег, баскетбол,&nbsp;&mdash; а&nbsp;также для повседневного использования. Женские сердца не&nbsp;оставит равнодушными стильная коллекция для женского фитнеса. А&nbsp;ценителей экстремальных видов спорта&nbsp;&mdash; отдельные тематические коллекции.
        .cols_i.__half
          %article.cnt
            %p
              %img{src: "/assets/images/store_photo_02.jpg", alt: "Nike Store photo", width: "320", height: "130"}
            %p Кроме спортивной одежды вы&nbsp;найдете здесь многообразие аксессуаров знаменитого бренда: часы, головные уборы, пр.
            %p В&nbsp;наших магазинах вас ждут новинки сезона, а&nbsp;также большие распродажи. А&nbsp;благодаря нашим продавцам&nbsp;&mdash; &laquo;атлетам&raquo; посещение магазинов Nike станет для вас приятным и&nbsp;полезным экспериментом.
            %p Вы&nbsp;будете возвращаться к&nbsp;нам снова и&nbsp;снова! А&nbsp;мы&nbsp;будем всегда рады видеть вас!

    %footer.section_footer