.dialog.__forgot
  %form.form
    .cols
      .cols_i.__half
        .form_row
          %label.form_label Номер карты
          .form_input_iconed
            %i.icon.__card
            %input.form_input.__card{type: "text"}
        .form_row
          %input.form_button{type: "submit", value: "Отправить пароль"}