<div class="dialog __login">
  <form action="/profile.html" class="form">
    <div class="cols">
      <div class="cols_i __half">
        <div class="form_row">
          <label class="form_label">Номер карты</label>
          <div class="form_input_iconed">
            <i class="icon __card"></i>
            <input type="text" class="form_input">
          </div>
        </div>
        <div class="form_row">
          <label class="form_label">Пароль</label>
          <div class="form_input_iconed">
            <i class="icon __key"></i>
            <input type="password" class="form_input">
          </div>
        </div>
        <div class="form_row">
          <input type="submit" class="form_button" value="Войти в личный кабинет">
        </div>
      </div>
    </div>
  </form>
</div>