.dialog.__login
  %form.form{action: "/profile.html"}
    .cols
      .cols_i.__half
        .form_row
          %label.form_label Старый пароль
          .form_input_iconed
            %i.icon.__key
            %input.form_input{type: "password"}
        .form_row
          %label.form_label Новый пароль
          .form_input_iconed
            %i.icon.__key
            %input.form_input{type: "password"}
        .form_row
          %label.form_label Повтор пароля
          .form_input_iconed
            %i.icon.__key
            %input.form_input{type: "password"}
        .form_row
          %input.form_button{type: "submit", value: "Сохранить"}