//****************************************************************************************************
//
// .. MIXINS
//
//****************************************************************************************************
@mixin prefixes($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}

@mixin size($w, $h) {
  width:  #{$w};
  height: #{$h};
}



//****************************************************************************************************
//
// .. FONTS
//
//****************************************************************************************************
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'futurafuturiscondextraboldcRg';
  src: url('/assets/fonts/Futura/futura-webfont.eot');
  src: url('/assets/fonts/Futura/futura-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Futura/futura-webfont.woff') format('woff'),
       url('/assets/fonts/Futura/futura-webfont.ttf') format('truetype'),
       url('/assets/fonts/Futura/futura-webfont.svg#futurafuturiscondextraboldcRg') format('svg');
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'TradeGothicW01-BoldCn20';
  src: url('/assets/fonts/TradeGothicW01/TradeGothicW01-BoldCn20.woff') format('woff');
}



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
//
// .. Base
//
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  min-width: 1200px;
  background: #fff;
  color: #000;
  font-weight: 300;
  font-size:   17px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  -webkit-backface-visibility: hidden;
}

//
// .. Heading
//
h1, h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "TradeGothicW01-BoldCn20", "Arial Black", "Arial Bold", Arial, sans-serif;
  line-height: 1;
}
h1 {font-size: 70px;}
h2 {font-size: 50px;}

.ctn {
  margin: 0 auto;
  width: 800px;
}

//
// .. Grid
//
.cols { }
.cols_i {
  display: inline-block;
  margin: 0 40px;
  vertical-align: top;
  &.__full {width: 720px;}
  &.__half {width: 320px;}
}
.m-b_2 {margin-bottom: 20px !important;}

//
// .. Content
//
.cnt {
  > p {
    &:not(:last-child) {margin-bottom: 20px;}
    > img {
      display: inline-block;
      margin-bottom: 10px;
      vertical-align: top;
    }
  }
}

//
// .. Style text
//
.tx {
  &.__left   {text-align: left;}
  &.__center {text-align: center;}
  &.__right  {text-align: right;}  
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  padding: 11px 0 9px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
  text-align: center;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    content: '';
    opacity: .5;
  }
}

//
// .. Logo
//
.logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 34px;
  font-family: "TradeGothicW01-BoldCn20", "Arial Black", "Arial Bold", Arial, sans-serif;
}

//
// .. Navigation
//
.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 52px;
  a {
    color: #fff;
    text-decoration: none;
  }
  &:hover {.menu {display: block;}}
  img {margin-right: 10px;}
  img, span {
    vertical-align: middle;
    cursor: pointer;
  }
}

//
// .. Login
//
.login, .logout {
  @include prefixes(transform, translate(0, -50%));
  @include prefixes(box-sizing, border-box);
  position: absolute;
  top: 50%;
  right: 30px;
  display: inline-block;
  padding: 0 15px;
  height: 40px;
  border: 1px solid #808080;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 40px;
}



//****************************************************************************************************
//
// .. MENU
//
//****************************************************************************************************
.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 220px;
  border-top: 1px solid #bfbfbf;
  text-align: left;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    content: '';
    opacity: .5;
  }
}
.menu_i {
  padding-left: 40px;
  &:not(:last-child) {border-bottom: 1px solid #999999;}
}
.menu_i_a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {
  padding-top: 110px;
  padding-bottom: 70px;
  
  //
  // .. Slider
  //
  &.__slider {
    @include prefixes(box-sizing, border-box);
    padding: 0;
    height: 560px;
  }
  
  //
  // .. Slider more info
  //
  &.__slider_more {
    display: none;
    padding: 35px 0 80px;
    text-align: center;
    &.__1 {
      background-color: #000;
      color: #fff;
    }
    &.__2 {
      background-color: #000;
      color: #fff;
    }
    &.__3 {
      background-color: #000;
      color: #fff;
    }
    &.__4 {
      background-color: #e2e2e2;
      color: #000;
    }
    &.__7 {
      background-color: #9c0f17;
      color: #fff;
    }
  }
  
  //
  // .. Nike store
  //
  &.__store {
    background-color: #ff5c21;
    color: #fff;
    .section_header {
      margin-bottom: 45px;
      .section_title {
        color: #fff;
        span {color: #fdaa8c;}
      }
    }
    .section_body {
      margin-bottom: 0;
      .cnt p {opacity: 1;}
    }
    .section_footer {}
  }

  //
  // .. Card
  //
  &.__card {
    background: #ece3d4 url(/assets/images/card.jpg) center bottom no-repeat;
    color: #000;
    .section_header {
      margin-bottom: 30px;
      .section_title {
        color: #3f3438;
        span {color: #f786a7;}
      }
    }
    .section_body {
      margin-bottom: 0;
      padding-bottom: 400px;
      .cnt p {opacity: .7;}
    }
    .section_footer {
      .form_button {
        border: 1px solid #3f3438;
        color: #3f3438;
      }
    }
  }
  
  //
  // .. Rules
  //
  &.__rules {
    display: none;
    background-color: #254f7d;
    color: #fff;
    .section_header {
      margin-bottom: 40px;
      .section_title {color: #fff;}
    }
    .section_body {
      margin-bottom: 40px;
      .cnt p {opacity: .8;}
    }
    .section_footer {
      .form_button {background-color: #f786a7;}
    }
  }

  //
  // .. Stores
  //
  &.__stores {
    background-color: #10a6a8;
    color: #fff;
    .section_header {
      margin-bottom: 45px;
      .section_title {
        margin-bottom: 30px;
        color: #1a6264;
        span {color: #fff;}
      }
    }
    .section_body {
      margin-bottom: 0;
      .cnt p {opacity: 1;}
    }
    .section_footer { }
  }

  //
  // .. Feedback
  //
  &.__feedback {
    background-color: #254f7d;
    color: #fff;
    .section_header {
      margin-bottom: 0;
      .section_title {color: #fff;}
    }
    .section_body {
      margin-bottom: 50px;
      .cnt p {opacity: .8;}
      .form {
        display: none;
        margin-top: 45px;
      }
      .form_input, .form_textarea, .form_file {
        border: 1px solid #9db0c5;
        background-color: #3b618a;
      }
      .form_label {
        color: #fff;
        opacity: .5;
      }
      .form_select {
        border: 1px solid #9db0c5;
        background-color: #3b618a;
        &::after {background-color: #b8c6d5;}
        ul {
          border-right:  1px solid #9db0c5;
          border-bottom: 1px solid #9db0c5;
          border-left:   1px solid #9db0c5;
          background-color: #3b618a;
          li {&:hover {opacity: .5;}}
        }
      }
    }
    .section_footer {
      .form_button {background-color: #ff5c21;}
    }
  }

  //
  // .. Banner
  //
  &.__banner {
    padding: 0;
    height: 390px;
    background: url(/assets/images/profile_bg.png) 0 0 repeat-x;
  }

  //
  // .. Profile
  //
  &.__profile {
    background-color: #183a5f;
    color: #000;
    .section_header {
      margin-bottom: 50px;
      .section_title {
        margin-bottom: 10px;
        color: #d4e3e8;
        span {color: #ff6a4f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {
      margin-bottom: 70px;
      .form_input, .form_textarea, .form_file {
        border: 1px solid #98a7b7;
        background-color: #304e6f;
      }
      .form_label {
        color: #fff;
        opacity: .5;
      }
      .form_radio {
        background-color: #304e6f;
        &[data-checked="true"] {background-color: #ff6a4f;}
      }
      .form_button {background-color: #ff6a4f;}
    }
    .section_footer {
      .form_button {background-color: #ff6a4f;}
    }
  }

  //
  // .. Secrets
  //
  &.__secrets {
    background-color: #1e74a1;
    color: #000;
    .section_header {
      margin-bottom: 50px;
      .section_title {
        margin-bottom: 10px;
        color: #fff;
        span {color: #183a5f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {
      margin-bottom: 70px;
      .form_input, .form_textarea, .form_file {
        border: 1px solid #9ac1d5;
        background-color: #3582ab;
      }
      .form_label {
        color: #fff;
        opacity: .8;
      }
      .form_select {
        border: 1px solid #9ac1d5;
        background-color: #3582ab;
        &::after {background-color: #b6d2e1;}
        ul {
          border-right:  1px solid #9ac1d5;
          border-bottom: 1px solid #9ac1d5;
          border-left:   1px solid #9ac1d5;
          background-color: #3582ab;
          li {&:hover {opacity: .5;}}
        }
      }
    }
    .section_footer {
      .form_button {background-color: #ff6a4f;}
    }
  }

  //
  // .. Records
  //
  &.__records {
    background-color: #235977;
    color: #000;
    .section_header {
      margin-bottom: 30px;
      .section_title {
        margin-bottom: 10px;
        color: #fff;
        span {color: #ff6a4f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {
      margin-bottom: 70px;
    }
    .section_footer {
      .form_button {background-color: #ff6a4f;}
    }
  }

  //
  // .. History
  //
  &.__history {
    background-color: #2d444c;
    color: #000;
    .section_header {
      margin-bottom: 30px;
      .section_title {
        margin-bottom: 10px;
        color: #fff;
        span {color: #ff6a4f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {

    }
    .section_footer {

    }
  }
}



//****************************************************************************************************
//
// .. SLIDER
//
//****************************************************************************************************
.slider {
  position: relative;
  height: 100%;
  text-align: center;
}
.slider_i {
  @include size(100%, 100%);
  @include prefixes(box-sizing, border-box);
  &.__01 {
    .slider_i_inner {padding-top: 280px;}
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #fff; opacity: .7;}
  }
  &.__02 {
    .slider_i_inner {padding-top: 120px;}
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #fff; text-transform: uppercase;}
  }
  &.__03 {
    .slider_i_inner {padding-top: 280px;}
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #bcfd55; text-transform: uppercase;}
  }
  &.__04 {
    .slider_i_inner {padding-top: 200px;}
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #fff; text-transform: uppercase;}
  }
  &.__05 {
    .slider_i_inner {padding-top: 200px;}
    .slider_i_title {color: #e03e8f;}
    .slider_i_tx    {color: #000; opacity: .7;}
  }
  &.__06 {
    .slider_i_inner {padding-top: 120px;}
    .slider_i_title {color: #ff6a4f;}
    .slider_i_tx    {color: #000; opacity: .7;}
  }
  &.__07 {
    .slider_i_inner {padding-top: 195px;}
    .slider_i_title {
      color: #fffeff;
      span {color: #9d0009;}
    }
    .slider_i_tx    {color: #fffeff; text-transform: uppercase;}
  }
}
.slider_i_inner {
  @include prefixes(box-sizing, border-box);
  position: relative;
  width: 100%;
  height: 100%;
}
.slider_i_title {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 80px;
  font-family: "futurafuturiscondextraboldcRg", "Arial Black", "Arial Bold", Arial, sans-serif;
  line-height: 1;
}
.slider_i_tx {}

//
// .. Sloder pager
//
.slider_pager {
  @include prefixes(transform, translate(-50%, 0));
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 9998;
}    
.slider_pager_i {
  @include size(10px, 10px);
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  &.cycle-pager-active {
    position: relative;
    opacity: .5;
    &::before {
      @include size(8px, 8px);
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 50%;
      background-color: #3a1a08;
      content: '';
    }
  }
}
    
//
// .. More button
//
.slider_i_more {
  @include size(200px, 40px);
  @include prefixes(transform, translate(-50%, 0));
  position: absolute;
  bottom: 90px;
  left: 50%;
  display: inline-block;
  background-color: rgba(255, 255, 255, .46);
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
}



//****************************************************************************************************
//
// .. STORES
//
//****************************************************************************************************
.stores {

}
.stores_i {
  &:not(:last-child) {margin-bottom: 60px;}
  &.__moscow {margin-bottom: 100px;}
}
.stores_i_location {
  color: #fff;
  text-transform: uppercase;
}
.stores_i_caption {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
}
.stores_i_caption_mark {
  &:not(:last-child) {margin-bottom: 15px;}
}
.stores_i_name     {color: #1a6264;}
.stores_i_address  {color: #fff;}
.stores_i_phone    {color: #fff;}
.stores_i_email {a {color: #fff;}}



//****************************************************************************************************
//
// .. BANNERS
//
//****************************************************************************************************
.banner {
  padding-top: 120px;
  height: 100%;
  background: url(/assets/images/profile_banner.png) center top no-repeat;
  text-align: center;
}
.banner_title {
  margin-bottom: 15px;
  color: #ff6a4f;
  text-transform: uppercase;
  font-size: 80px;
  font-family: "futurafuturiscondextraboldcRg", "Arial Black", "Arial Bold", Arial, sans-serif;
  line-height: 1;
}
.banner_tx {
  color: #fff;
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
//
//  .. Section header
//
.section_header {text-align: center;}

//
//  .. Section footer
//
.section_footer {text-align: center;}

//
// .. File
//
.file {
  margin-top: 40px;
  color: #f786a7;
  text-align: center;
}
.file_ico {
  margin-top: 20px;
  vertical-align: top;
}

//
// .. Forgot
//
.forgot {
  color: #fff;
  text-decoration: none;  
}

 

//****************************************************************************************************
//
// .. FORM
//
//****************************************************************************************************
.form {}
.form_row {
  &:not(:last-child) {margin-bottom: 30px;}
}

//
// .. Button
//
.form_button {
  @include size(320px, 60px);
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 60px;
}

//
// .. Label
//
.form_label {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
}

//
// .. Input
//
.form_input {
  @include size(100%, 50px);
  @include prefixes(box-sizing, border-box);
  display: block;
  padding: 0 10px;
  color: #fff;
  &[disabled="disabled"] {
    border-color: transparent !important;
    color: #cd6254;
  }
}

//
// .. Input iconed
//
.form_input_iconed {
  position: relative;
  .icon {
    @include prefixes(transform, translate(0, -50%));
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 9998;
  }
  .form_input {padding-left: 60px;}
}

//
// .. Textarea
//
.form_textarea {
  @include prefixes(box-sizing, border-box);
  display: block;
  padding: 10px;
  width: 100%;
  color: #fff;
}

//
// .. File
//
.form_file-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.form_file {
  &.__fake {
    @include prefixes(box-sizing, border-box);
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 10px;
    width: 100%;
    height: 50px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;      
  }
  &.__fake, &.__real {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.form_file_remove {
  position: absolute;
  top: 50%;
  right: -35px;
  display: none;
  margin-top: -11px;
  img {vertical-align: top;}
}

//
// .. Select
//
.form_select {
  @include size(100%, 50px);
  @include prefixes(box-sizing, border-box);
  position: relative;
  display: block;
  padding: 0 10px;
  color: #fff;
  white-space: nowrap;
  line-height: 50px;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-image: url(/assets/images/dropdown.png);
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }
  &:hover {
    &::after {
      @include prefixes(transform, rotate(180deg));
    }
  }
  p {
    overflow: hidden;
    white-space: nowrap;
  }
  ul {
    position: absolute;
    top: 100%;
    right: -1px;
    left: -1px;
    z-index: 9998;
    display: none;
    li {
      overflow: hidden;
      padding: 0 10px;
      white-space: nowrap;
      cursor: pointer;
      &:hover {background-color: #fff; color: #000;}
    }
  }
}

//
// .. Radio
//
.form_radio {
  &.__fake {
    @include size(150px, 50px);
    position: relative;
    display: inline-block;
    line-height: 50px;
    &::before {
      @include size(40px,40px);
      @include prefixes(transform, translate(-50%, -50%));
      position: absolute;
      top: 50%;
      left: 50%;
      background-image: url(/assets/images/icons.png);
      background-repeat: no-repeat;
      content: '';
    }
    &.__iconed {
      &.__check    {&::before{background-position: -240px 0;}}
      &.__uncheck  {&::before{background-position: -280px 0;}}
      &.__male     {&::before{background-position: -320px 0;}}
      &.__female   {&::before{background-position: -360px 0;}}
    }
  }
  &.__real {
    @include size(100%, 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1002;
    opacity: 0;
  }
}



//****************************************************************************************************
//
// .. TABLE
//
//****************************************************************************************************
.table {
  margin: 0 auto;
  thead {
    background-color: rgba(255, 255, 255, .07);
    th {
      padding: 15px 40px 15px 10px;
      color: #fff;
      vertical-align: middle;
      text-align: left;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 15px;
      opacity: .5;
      &:last-child {padding-right: 10px;}
    }
  }
  tbody {
    tr {
      &:first-child {
        td {padding-top: 20px;}
      }
      td {
        &:last-child {padding-right: 10px;}
      }
    }
    td {
      padding: 10px 40px 10px 10px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px;
    }
  }
}
.table_hr {
  td {
    padding: 25px 0 15px !important;
    div {border-top: 1px solid rgba(255, 255, 255, .3);}
  }
}
.table_balance {
  text-align: right;
  td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }
}
.table_balance_current {color: #ff6a4f;}



//****************************************************************************************************
//
// .. ICONS
//
//****************************************************************************************************
.icon {
  @include size(40px, 40px);
  display: inline-block;
  background-image: url(/assets/images/icons.png);
  background-repeat: no-repeat;
  vertical-align: top;
  &.__card     {background-position: 0 0;}
  &.__key      {background-position: -40px 0;}
  &.__user     {background-position: -80px 0;}
  &.__mail     {background-position: -120px 0;}
  &.__lopata   {background-position: -160px 0;}
  &.__calendar {background-position: -200px 0;}
  &.__check    {background-position: -240px 0;}
  &.__uncheck  {background-position: -280px 0;}
  &.__male     {background-position: -320px 0;}
  &.__female   {background-position: -360px 0;}
}



//****************************************************************************************************
//
// .. DIALOGS
//
//****************************************************************************************************
.dialog {
  padding: 70px 200px;
  background-color: #163961;
  &.__login {
    .form_input, .form_textarea, .form_file {
      border: 1px solid #95a8b7;
      background-color: #2f4d71;
    }
    .form_label {
      color: #fff;
      opacity: .5;
    }
    .form_button {background-color: #ff6948;}
  }
  &.__forgot {
    @extend .dialog.__login;  
  }
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  padding: 40px 0;
  color: #7f7f7f;
  font-size: 15px;
  .cols_i {vertical-align: middle;}
  img     {vertical-align: top;}
}



//****************************************************************************************************
//
// .. HELPERS
//
//****************************************************************************************************
//
// .. Scrollwidth
//
.scrollbar-measure {
  position: absolute;
  top: -9999px;
  overflow: scroll;
  width: 100px;
  height: 100px;
}