//****************************************************************************************************
//
// .. MIXINS
//
//****************************************************************************************************
@mixin prefixes($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}
@mixin size($w, $h) {
  width:  #{$w};
  height: #{$h};
}



//****************************************************************************************************
//
// .. FONTS
//
//****************************************************************************************************
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic);

@font-face {
  font-family: 'futurafuturiscondextraboldcRg';
  src: url('/assets/fonts/Futura/futura-webfont.eot');
  src: url('/assets/fonts/Futura/futura-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/Futura/futura-webfont.woff') format('woff'),
       url('/assets/fonts/Futura/futura-webfont.ttf') format('truetype'),
       url('/assets/fonts/Futura/futura-webfont.svg#futurafuturiscondextraboldcRg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicW01-BoldCn20';
  src: url('/assets/fonts/TradeGothicW01/TradeGothicW01-BoldCn20.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
//
// .. Base
//
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  background: #fff;
  color: #000;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size:   1.7rem;
  font-weight: 300;
  line-height: 1.2;
  min-width: 1200px;
  -webkit-backface-visibility: hidden;
}

//
// .. Heading
//
h1, h2 {
  font-family: "TradeGothicW01-BoldCn20", "Arial Black", "Arial Bold", Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
h1 {font-size: 7rem;}
h2 {font-size: 5rem;}

.ctn {
  margin: 0 auto;
  width: 800px;
}

//
// .. Grid
//
.cols {}
.cols_i {
  display: inline-block;
  margin: 0 40px;
  vertical-align: top;
  &.__full {width: 720px;}
  &.__half {width: 320px;}
}
//
// .. Content
//
.cnt {
  > p {
    &:not(:last-child) {margin-bottom: 2rem;}
    > img {
      display: inline-block;
      margin-bottom: 1rem;
      vertical-align: top;
    }
  }
}
//
// .. Style
//
.tx.__left   {text-align: left;}
.tx.__center {text-align: center;}
.tx.__right  {text-align: right;}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  box-shadow: 0 0 0 .1rem rgba(255, 255, 255, .5);
  text-align: center;
  padding: 1.1rem 0 .9rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  &::after {
    background-color: #000;
    content: '';
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
//
// .. Logo
//
.logo {
  color: #fff;
  font-family: "TradeGothicW01-BoldCn20", "Arial Black", "Arial Bold", Arial, sans-serif;
  font-size: 3.4rem;
  text-decoration: none;
  text-transform: uppercase;
}
//
// .. Navigation
//
.navigation {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 5.2rem;
  position: absolute;
  top: 0;
  left: 3rem;
  bottom: 0;
  text-transform: uppercase;
  a {
    color: #fff;
    text-decoration: none;
  }
  &:hover {.menu {display: block;}}
  img {margin-right: 1rem}
  img, span {
    cursor: pointer;
    vertical-align: middle;
  }
}
//
// .. Go to profile
//
.go-to-profile {
  border: .1rem solid #808080;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1.5rem;
  position: absolute;
  top: 50%;
  right: 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include prefixes(transform, translate(0, -50%));
  @include prefixes(box-sizing, border-box);
}



//****************************************************************************************************
//
// .. MENU
//
//****************************************************************************************************
.menu {
  border-top: .1rem solid #bfbfbf;
  display: none;
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 22rem;
  &::after {
    background-color: #000;
    content: '';
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
.menu_i {
  padding-left: 4rem;
  &:not(:last-child) {border-bottom: .1rem solid #999999;}
}
.menu_i_a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}



//****************************************************************************************************
//
// .. SECTION
//
//****************************************************************************************************
.section {
  padding-top: 11rem;
  padding-bottom: 7rem;
  //
  // .. Slider
  //
  &.__slider {
    height: 560px;
    padding: 0;
    @include prefixes(box-sizing, border-box);
  }
  //
  // .. Slider more info
  //
  &.__slider_more {
    display: none;
    padding: 3.5rem 0 8rem;
    text-align: center;
    &.__2 {
      background-color: #000;
      color: #fff;
    }
    &.__3 {
      background-color: #000;
      color: #fff;
    }
    &.__4 {
      background-color: #e2e2e2;
      color: #000;
    }
  }
  //
  // .. Nike store
  //
  &.__store {
    background-color: #ff5c21;
    color: #fff;
    .section_header {
      margin-bottom: 4.5rem;
      .section_title {
        color: #fff;
        span {color: #fdaa8c;}
      }
    }
    .section_body {
      margin-bottom: 0;
      .cnt p {opacity: 1;}
    }
    .section_footer {}
  }
  //
  // .. Card
  //
  &.__card {
    background: #ece3d4 url(/assets/images/card.jpg) center bottom no-repeat;
    color: #000;
    .section_header {
      margin-bottom: 3rem;
      .section_title {
        color: #3f3438;
        span {color: #f786a7;}
      }
    }
    .section_body {
      margin-bottom: 0;
      padding-bottom: 400px;
      .cnt p {opacity: .7;}
    }
    .section_footer {
      .form_button {
        border: .1rem solid #3f3438;
        color: #3f3438;
      }
    }
  }
  //
  // .. Rules
  //
  &.__rules {
    background-color: #254f7d;
    color: #fff;
    display: none;
    .section_header {
      margin-bottom: 4rem;
      .section_title {color: #fff;}
    }
    .section_body {
      margin-bottom: 4rem;
      .cnt p {opacity: .8;}
    }
    .section_footer {
      .form_button {background-color: #f786a7;}
    }
  }
  //
  // .. Stores
  //
  &.__stores {
    background-color: #10a6a8;
    color: #fff;
    .section_header {
      margin-bottom: 4.5rem;
      .section_title {
        color: #1a6264;
        margin-bottom: 3rem;
        span {color: #fff;}
      }
    }
    .section_body {
      margin-bottom: 0;
      .cnt p {opacity: 1;}
    }
    .section_footer {}
  }
  //
  // .. Feedback
  //
  &.__feedback {
    background-color: #254f7d;
    color: #fff;
    .section_header {
      margin-bottom: 0;
      .section_title {color: #fff;}
    }
    .section_body {
      margin-bottom: 5rem;
      .cnt p {opacity: .8;}
      .form {
        display: none;
        margin-top: 4.5rem;
      }
      .form_input, .form_textarea, .form_file {
        background-color: #3b618a;
        border: .1rem solid #9db0c5;
      }
      .form_label {
        color: #fff;
        opacity: .5;
      }
      .form_select {
        background-color: #3b618a;
        border: .1rem solid #9db0c5;
        &::after {background-color: #b8c6d5;}
        ul {
          background-color: #3b618a;
          border-right:  .1rem solid #9db0c5;
          border-bottom: .1rem solid #9db0c5;
          border-left:   .1rem solid #9db0c5;
          li {&:hover {opacity: .5;}}
        }
      }
    }
    .section_footer {
      .form_button {background-color: #ff5c21;}
    }
  }
  //
  // .. Banner
  //
  &.__banner {
    background: url(/assets/images/profile_bg.png) 0 0 repeat-x;
    height: 390px;
    padding: 0;
  }
  //
  // .. Profile
  //
  &.__profile {
    background-color: #183a5f;
    color: #000;
    .section_header {
      margin-bottom: 5rem;
      .section_title {
        color: #d4e3e8;
        margin-bottom: 1rem;
        span {color: #ff6a4f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {
      margin-bottom: 7rem;
      .form_input, .form_textarea, .form_file {
        background-color: #304e6f;
        border: .1rem solid #98a7b7;
      }
      .form_label {
        color: #fff;
        opacity: .5;
      }
    }
    .section_footer {
      .form_button {background-color: #ff6a4f;}
    }
  }
  //
  // .. Secrets
  //
  &.__secrets {
    background-color: #1e74a1;
    color: #000;
    .section_header {
      margin-bottom: 5rem;
      .section_title {
        color: #fff;
        margin-bottom: 1rem;
        span {color: #183a5f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {
      margin-bottom: 7rem;
      .form_input, .form_textarea, .form_file {
        background-color: #3582ab;
        border: .1rem solid #9ac1d5;
      }
      .form_label {
        color: #fff;
        opacity: .8;
      }
      .form_select {
        background-color: #3582ab;
        border: .1rem solid #9ac1d5;
        &::after {background-color: #b6d2e1;}
        ul {
          background-color: #3582ab;
          border-right:  .1rem solid #9ac1d5;
          border-bottom: .1rem solid #9ac1d5;
          border-left:   .1rem solid #9ac1d5;
          li {&:hover {opacity: .5;}}
        }
      }
    }
    .section_footer {
      .form_button {background-color: #ff6a4f;}
    }
  }
  //
  // .. Records
  //
  &.__records {
    background-color: #235977;
    color: #000;
    .section_header {
      margin-bottom: 3rem;
      .section_title {
        color: #fff;
        margin-bottom: 1rem;
        span {color: #ff6a4f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {
      margin-bottom: 7rem;
    }
    .section_footer {
      .form_button {background-color: #ff6a4f;}
    }
  }
  //
  // .. History
  //
  &.__history {
    background-color: #2d444c;
    color: #000;
    .section_header {
      margin-bottom: 3rem;
      .section_title {
        color: #fff;
        margin-bottom: 1rem;
        span {color: #ff6a4f;}
      }
      p {
        color: #fff;
        opacity: .8;
      }
    }
    .section_body {

    }
    .section_footer {

    }
  }
}



//****************************************************************************************************
//
// .. SLIDER
//
//****************************************************************************************************
.slider {
  height: 100%;
  position: relative;
  text-align: center;
}
.slider_i {
  background: green;
  @include size(100%, 100%);
  @include prefixes(box-sizing, border-box);
  &.__01 {
    background: #000 url(/assets/images/slider/slide_01.jpg) center no-repeat;
    padding-top: 28rem;
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #fff; opacity: .7;}
  }
  &.__02 {
    background: #000 url(/assets/images/slider/slide_02.jpg) center no-repeat;
    padding-top: 12rem;
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #fff; text-transform: uppercase;}
  }
  &.__03 {
    background: #000 url(/assets/images/slider/slide_03.jpg) center no-repeat;
    padding-top: 28rem;
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #bcfd55; text-transform: uppercase;}
  }
  &.__04 {
    background: #e2e2e2 url(/assets/images/slider/slide_04.jpg) center no-repeat;
    padding-top: 20rem;
    .slider_i_title {color: #fff;}
    .slider_i_tx    {color: #fff; text-transform: uppercase;}
  }
  &.__05 {
    background: #e2e2e2 url(/assets/images/slider/slide_05.jpg) center no-repeat;
    padding-top: 20rem;
    .slider_i_title {color: #e03e8f;}
    .slider_i_tx    {color: #000; opacity: .7;}
  }
  &.__06 {
    background: #d6e5ea url(/assets/images/slider/slide_06.jpg) center no-repeat;
    padding-top: 12rem;
    .slider_i_title {color: #ff6a4f;}
    .slider_i_tx    {color: #000; opacity: .7;}
  }
}
.slider_i_title {
  font-family: "futurafuturiscondextraboldcRg", "Arial Black", "Arial Bold", Arial, sans-serif;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: .5rem;
  text-transform: uppercase;
}
.slider_i_tx {}
//
// .. Sloder pager
//
.slider_pager {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  z-index: 9998;
  @include prefixes(transform, translate(-50%, 0));
}
.slider_pager_i {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin: 0 .5rem;
  @include size(1rem, 1rem);
  &.cycle-pager-active {
    opacity: .5;
    position: relative;
    &::before {
      background-color: #3a1a08;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: .1rem;
      left: .1rem;
      @include size(.8rem, .8rem);
    }
  }
}
//
// .. More button
//
.slider_i_more {
  background-color: rgba(255, 255, 255, .46);
  color: #fff;
  display: inline-block;
  line-height: 4rem;
  position: absolute;
  left: 50%;
  bottom: 9rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include size(20rem, 4rem);
  @include prefixes(transform, translate(-50%, 0));
}



//****************************************************************************************************
//
// .. STORES
//
//****************************************************************************************************
.stores {

}
.stores_i {
  &:not(:last-child) {margin-bottom: 6rem;}
  &.__moscow {margin-bottom: 10rem;}
}
.stores_i_location {
  color: #fff;
  text-transform: uppercase;
}
.stores_i_caption {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
}
.stores_i_caption_mark {
  &:not(:last-child) {margin-bottom: 1.5rem;}
}
  .stores_i_name     {color: #1a6264;}
  .stores_i_address  {color: #fff;}
  .stores_i_phone    {color: #fff;}
  .stores_i_email {a {color: #fff;}}



//****************************************************************************************************
//
// .. BANNERS
//
//****************************************************************************************************
.banner {
  background: url(/assets/images/profile_banner.png) center top no-repeat;
  height: 100%;
  padding-top: 12rem;
  text-align: center;
}
.banner_title {
  color: #ff6a4f;
  font-family: "futurafuturiscondextraboldcRg", "Arial Black", "Arial Bold", Arial, sans-serif;
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.banner_tx {
  color: #fff;
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************

//
//  .. Section header
//
.section_header {text-align: center}

//
//  .. Section footer
//
.section_footer {text-align: center}

//
// .. File
//
.file {
  color: #f786a7;
  margin-top: 4rem;
  text-align: center;
}
.file_ico {
  margin-top: 2rem;
  vertical-align: top;
}



//****************************************************************************************************
//
// .. FORM
//
//****************************************************************************************************
.form {
}
.form_row {
  &:not(:last-child) {margin-bottom: 3rem;}
}
//
// .. Button
//
.form_button {
  border: none;
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  line-height: 6rem;
  text-decoration: none;
  text-transform: uppercase;
  @include size(32rem, 6rem);
}
//
// .. Label
//
.form_label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
//
// .. Input
//
.form_input {
  color: #fff;
  display: block;
  padding: 0 1rem;
  @include size(100%, 5rem);
  @include prefixes(box-sizing, border-box);
}
//
// .. Input iconed
//
.form_input_iconed {
  position: relative;
  .icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 9998;
    @include prefixes(transform, translate(0, -50%));
  }
  .form_input {padding-left: 6rem;}
}
//
// .. Textarea
//
.form_textarea {
  color: #fff;
  display: block;
  padding: 1rem;
  width: 100%;
  @include prefixes(box-sizing, border-box);
}
//
// .. File
//
.form_file.__fake {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  line-height: 5rem;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  white-space: nowrap;
  @include size(100%, 5rem);
  @include prefixes(box-sizing, border-box);
  &.__real {
    position: absolute;
    visibility: hidden;
    @include size(0, 0);
  }
}
//
// .. Select
//
.form_select {
  color: #fff;
  cursor: pointer;
  display: block;
  line-height: 5rem;
  padding: 0 1rem;
  position: relative;
  white-space: nowrap;
  @include size(100%, 5rem);
  @include prefixes(box-sizing, border-box);
  &::after {
    background-image: url(/assets/images/dropdown.png);
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5rem;
  }
  &:hover {
    &::after {
      @include prefixes(transform, rotate(180deg));
    }
  }
  p {
    overflow: hidden;
    white-space: nowrap;
  }
  ul {
    display: none;
    position: absolute;
    right: -.1rem;
    top: 100%;
    left: -.1rem;
    z-index: 9998;
    li {
      cursor: pointer;
      overflow: hidden;
      padding: 0 1rem;
      white-space: nowrap;
      &:hover {background-color: #fff; color: #000;}
    }
  }
}



//****************************************************************************************************
//
// .. TABLE
//
//****************************************************************************************************
.table {
  margin: 0 auto;
  thead {
    background-color: rgba(255, 255, 255, .07);
    th {
      &:last-child {padding-right: 1rem;}
      color: #fff;
      font-size: 1.5rem;
      font-weight: 400;
      opacity: .5;
      padding: 1.5rem 4rem 1.5rem 1rem;
      text-align: left;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }
  tbody {
    tr {
      &:first-child {
        td {padding-top: 2rem;}
      }
      td {
        &:last-child {padding-right: 1rem;}
      }
    }
    td {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem 4rem 1rem 1rem;
      text-transform: uppercase;
    }
  }
}
.table_hr {
  td {
    padding: 2.5rem 0 1.5rem 0 !important;
    div {border-top: .1rem solid rgba(255, 255, 255, .3);}
  }
}
.table_balance {
  text-align: right;
  td {
    padding-top: .3rem !important;
    padding-bottom: .3rem !important;
  }
}
.table_balance_current {color: #ff6a4f;}



//****************************************************************************************************
//
// .. ICONS
//
//****************************************************************************************************
.icon {
  background-image: url(/assets/images/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  @include size(40px,40px);
  &.__card     {background-position: 0 0;}
  &.__key      {background-position: -40px 0;}
  &.__user     {background-position: -80px 0;}
  &.__mail     {background-position: -120px 0;}
  &.__lopata   {background-position: -160px 0;}
  &.__calendar {background-position: -200px 0;}
  &.__check    {background-position: -240px 0;}
  &.__uncheck  {background-position: -280px 0;}
  &.__male     {background-position: -320px 0;}
  &.__famale   {background-position: -360px 0;}
}


//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  color: #7f7f7f;
  font-size: 1.5rem;
  padding: 4rem 0;
  .cols_i {vertical-align: middle;}
  img     {vertical-align: top;}
}