%section#banner.section.__banner{role: "region", "aria-label" => "Banner"}
  .banner
    %p.banner_title Личный<br>кабинет
    %p.banner_tx Участника программы постоянных покупателей<br>и почетных клиентов.