%section#history.section.__history{role: "region", "aria-label" => "History"}

  %header.section_header
    %h1.section_title
      &#35;История
      %span наград
    %p История вознаграждений по&nbsp;программе.

  %div.section_body
    %table.table
      %thead
        %tr
          %th Дата<br>получения
          %th Номер<br>подарочной<br>карты
          %th Сумма
          %th Магазин
      %tbody
        %tr
          %td 22.05.13
          %td 1234567891234
          %td
            %sapn.js-format-money 1500
          %td МСК/МЕГТПЛСТН
        %tr
          %td 22.05.13
          %td 1234567891234
          %td
            %sapn.js-format-money 1500
          %td МСК/МЕГТПЛСТН
        %tr
          %td 10.07.13
          %td 1234567891234
          %td
            %sapn.js-format-money 1500
          %td МСК/МЕГТПЛСТН

  %footer.section_footer