%section#profile.section.__profile{role: "region", "aria-label" => "My profile"}
  .ctn

    %header.section_header
      %h1.section_title
        &#35;Мой
        %span профиль
      %p Укажите основные данные для участия в&nbsp;бонусной программе.

    %section.section_body
      %form.form
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Номер карты
              .form_input_iconed
                %i.icon.__card
                %input{type: "text", class: "form_input", value: "123456789012", disabled: "disabled"}
            .cols_i.__half
              %label.form_label Пароль
              .form_input_iconed
                %i.icon.__key
                %input{type: "text", class: "form_input"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label Имя
              .form_input_iconed
                %i.icon.__user
                %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Фамилия
              .form_input_iconed
                %i.icon.__user
                %input{type: "text", class: "form_input"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label E-mail
              .form_input_iconed
                %i.icon.__mail
                %input{type: "text", class: "form_input"}
            .cols_i.__half
              %label.form_label Мобильный телефон
              .form_input_iconed
                %i.icon.__lopata
                %input{type: "text", class: "form_input __phone"}
        .form_row
          .cols
            .cols_i.__half
              %label.form_label.m-b_2 Подписка на рассылки по e-mail
              %span{style: "margin-right: 2rem;"}
                %span.form_radio.form_el.__fake.__iconed.__check
                  %input.form_radio.form_el.__real{type: "radio", name: "radio1", checked: "checked"}
              %span
                %span.form_radio.form_el.__fake.__iconed.__uncheck
                  %input.form_radio.form_el.__real{type: "radio", name: "radio1"}
            .cols_i.__half
              %label.form_label.m-b_2 Подписка на sms-рассылки
              %span{style: "margin-right: 2rem;"}
                %span.form_radio.form_el.__fake.__iconed.__check
                  %input.form_radio.form_el.__real{type: "radio", name: "radio2", checked: "checked"}
              %span
                %span.form_radio.form_el.__fake.__iconed.__uncheck
                  %input.form_radio.form_el.__real{type: "radio", name: "radio2"}
        .form_row
          .cols.tx.__center
            .cols_i.__half.tx.__left
              %label.form_label.m-b_2 Пол
              %span{style: "margin-right: 2rem;"}
                %span.form_radio.form_el.__fake.__iconed.__male
                  %input.form_radio.form_el.__real{type: "radio", name: "radio3", checked: "checked"}
              %span
                %span.form_radio.form_el.__fake.__iconed.__female
                  %input.form_radio.form_el.__real{type: "radio", name: "radio3"}

    %footer.section_footer
      .form
        %a{href: "#", class: "form_button js-send-form"} Сохранить