%section#secrets.section.__secrets{role: "region", "aria-label" => "My secrets"}
  .ctn

    %header.section_header
      %h1.section_title
        &#35;Мои
        %span секреты
      %p Вы&nbsp;можете ответить на&nbsp;наши дополнительные вопросы<br>и&nbsp;получить за&nbsp;это специальный бонус в&nbsp;размере 500&nbsp;руб.<br>Бонус выплачивается однократно при заполнении всех дополнительных полей.

    %div.section_body
      %form.form
        .form_row
          .cols
            .cols_i.__half>
              %label.form_label Отчество
              .form_input_iconed
                %i.icon.__user
                %input{type: "text", class: "form_input __user"}
            .cols_i.__half
              %label.form_label Дата рождения
              .form_input_iconed
                %i.icon.__calendar
                %input{type: "text", class: "form_input __date"}
        .form_row
          .cols
            .cols_i.__half>
              %label.form_label Любимый магазин
              .form_select
                %p
                %ul
                  %li{data: {value: "0", select: "select"}} Выберите из списка
                  %li{data: {value: "1"}} Первая категория для выбора
                  %li{data: {value: "2"}} Вторая категория для выбора
                  %li{data: {value: "3"}} Третья категория для выбора
                %input{type: "hidden"}
            .cols_i.__half
              %label.form_label Любимый магазин
              .form_select
                %p
                %ul
                  %li{data: {value: "0", select: "select"}} Выберите из списка
                  %li{data: {value: "1"}} Первая категория для выбора
                  %li{data: {value: "2"}} Вторая категория для выбора
                  %li{data: {value: "3"}} Третья категория для выбора
                %input{type: "hidden"}
        .form_row
          .cols
            .cols_i.__half>
              %label.form_label Как часто вы занимаетесь спортом
              .form_select
                %p
                %ul
                  %li{data: {value: "0", select: "select"}} Выберите из списка
                  %li{data: {value: "1"}} Первая категория для выбора
                  %li{data: {value: "2"}} Вторая категория для выбора
                  %li{data: {value: "3"}} Третья категория для выбора
                %input{type: "hidden"}
            .cols_i.__half
              %label.form_label Вид спорта, которым вы занимаетесь
              .form_select
                %p
                %ul
                  %li{data: {value: "0", select: "select"}} Выберите из списка
                  %li{data: {value: "1"}} Первая категория для выбора
                  %li{data: {value: "2"}} Вторая категория для выбора
                  %li{data: {value: "3"}} Третья категория для выбора
                %input{type: "hidden"}
        .form_row
          .cols
            .cols_i.__half>
              %label.form_label Как часто вы покупаете спортивную&nbsp;одежду и обувь
              .form_select
                %p
                %ul
                  %li{data: {value: "0", select: "select"}} Выберите из списка
                  %li{data: {value: "1"}} Первая категория для выбора
                  %li{data: {value: "2"}} Вторая категория для выбора
                  %li{data: {value: "3"}} Третья категория для выбора
                %input{type: "hidden"}
            .cols_i.__half
              %label.form_label Для чего вы приобретаете спортивную&nbsp;одежду и обувь
              .form_select
                %p
                %ul
                  %li{data: {value: "0", select: "select"}} Выберите из списка
                  %li{data: {value: "1"}} Первая категория для выбора
                  %li{data: {value: "2"}} Вторая категория для выбора
                  %li{data: {value: "3"}} Третья категория для выбора
                %input{type: "hidden"}

    %footer.section_footer
      .form
        %a.form_button.js-send-form{href: "#"} Сохранить